<%= form_for @news, :html=>{:class=>'form-horizontal', :id=>'new'}  do |f|%>

    <%= render "common/error_messages", :target=>@news %>
    <div class="form-group" id="title">
      <label for="title" class="col-sm-2 control-label">新闻标题</label>
      <div class="col-sm-7">
        <%= f.text_field :title, :class=>"form-control",:value=>@news.title %>
      </div>
    </div>
    <div class="form-group" id="product_id">
      <label for="product_id" class="col-sm-2 control-label">产品名称</label>
      <div class="col-sm-7">
        <%= f.select :product_id, options_for_select(Product.approved.pluck(:name,:id), @news.product_id),:class=>"form-control" %>
      </div>
    </div>

    <div class="form-group" id="finance_round">
      <label for="finance_round" class="col-sm-2 control-label">融资轮数</label>
      <div class="col-sm-7">
        <%= f.select :finance_round, options_for_select(News::FINANCE_ROUND_HASH, @news.finance_round),:class=>"form-control" %>
      </div>
    </div>
    <div class="form-group" id="amount">
      <label for="amount" class="col-sm-2 control-label">融资金额</label>
      <div class="col-sm-7">
        <%= f.text_field :amount, :class=>"form-control", :value=>@news.amount %>
      </div>
    </div>
    <div class="form-group" id="source_from">
      <label for="source_from" class="col-sm-2 control-label">新闻来源</label>
      <div class="col-sm-7">
        <%= f.text_field :source_from, :class=>"form-control", :value=>@news.source_from %>
      </div>
    </div>
    <div class="form-group" id="source_url">
      <label for="source_url" class="col-sm-2 control-label">新闻链接</label>
      <div class="col-sm-7">
        <%= f.text_field :source_url, :class=>"form-control", :value=>@news.source_url %>
      </div>
    </div>
    <div class="form-group" id="finance_at">
      <label for="finance_at" class="col-sm-2 control-label">投资时间</label>
      <div class="col-sm-7" >
        <input type="text" class="form-control" value="<%= @news.finance_at.strftime('%Y-%m-%d') if @news.finance_at.present? %>" id="news_finance_at" name="news[finance_at]" data-date-format="yyyy-mm-dd" data-link-format="yyyy-mm-dd" readonly>
      </div>
    </div>

    <div class="form-group" id="news_finance_organizations">
      <label for="amount" class="col-sm-2 control-label">投资机构</label>
      <div class="col-sm-5">
        <%= f.fields_for :news_finance_organizations, @news_finance_organizations do |n| %>
            <%= n.select :finance_type, options_for_select(NewsFinanceOrganization::FINANCE_TYPE_HASH, @news_finance_organizations[n.index()].finance_type),:class=>"form-control" %>
            <%= n.select :organization_id, options_for_select(FinanceOrganization.approved.pluck(:name,:id), @news_finance_organizations[n.index()].organization_id),:class=>"form-control" %>
            <br/>
        <% end %>
      </div>
    </div>



    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button id='submit' type="submit" class="btn btn-default">提交</button>
      </div>
    </div>
<% end %>

<script>
    $(function(){
        $('#submit').click(function(){
            $('#new').submit();
        });

        $("#news_finance_at").datetimepicker({
            language:  'zh-CN',
            weekStart: 1,
            todayBtn:  1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            minView: 2,
            forceParse: 0
        });
    });

</script>